@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-8lZgIbLuDK-J_font-family: "Inter", sans-serif;
  --mixin-8lZgIbLuDK-J_font-size: 16px;
  --mixin-8lZgIbLuDK-J_font-weight: 400;
  --mixin-8lZgIbLuDK-J_font-style: normal;
  --mixin-8lZgIbLuDK-J_color: #535353;
  --mixin-8lZgIbLuDK-J_text-align: left;
  --mixin-8lZgIbLuDK-J_text-transform: none;
  --mixin-8lZgIbLuDK-J_line-height: 1.5;
  --mixin-8lZgIbLuDK-J_letter-spacing: normal;
  --mixin-8lZgIbLuDK-J_white-space: pre-wrap;
  --mixin-8lZgIbLuDK-J_user-select: text;
  --mixin-8lZgIbLuDK-J_text-decoration-line: none;
  --mixin-8lZgIbLuDK-J_text-overflow: clip;
  --mixin-503Rypp5pKtE_color: #000000;
  --mixin-503Rypp5pKtE_font-weight: 700;
  --mixin-503Rypp5pKtE_font-size: 64px;
  --mixin-503Rypp5pKtE_line-height: 1;
  --mixin-503Rypp5pKtE_letter-spacing: -1px;
  --mixin-503Rypp5pKtE_white-space: pre-wrap;
  --mixin-q1uyInfuItRf_color: #000000;
  --mixin-q1uyInfuItRf_font-size: 48px;
  --mixin-q1uyInfuItRf_font-weight: 700;
  --mixin-q1uyInfuItRf_letter-spacing: -0.5px;
  --mixin-q1uyInfuItRf_line-height: 1.1;
  --mixin-q1uyInfuItRf_white-space: pre-wrap;
  --mixin-PYAdYIz0136p_color: #0070f3;
  --mixin-PYAdYIz0136p_white-space: pre-wrap;
  --mixin-6xenmh_3XAIl_color: #000000;
  --mixin-6xenmh_3XAIl_font-size: 32px;
  --mixin-6xenmh_3XAIl_font-weight: 600;
  --mixin-6xenmh_3XAIl_line-height: 1.2;
  --mixin-6xenmh_3XAIl_white-space: pre-wrap;
  --mixin-hpU-LhBnB5v6_color: #000000;
  --mixin-hpU-LhBnB5v6_font-size: 24px;
  --mixin-hpU-LhBnB5v6_font-weight: 600;
  --mixin-hpU-LhBnB5v6_line-height: 1.3;
  --mixin-hpU-LhBnB5v6_white-space: pre-wrap;
  --mixin-liOrGJqYanYl_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-liOrGJqYanYl_border-bottom-color: #dddddd;
  --mixin-liOrGJqYanYl_border-bottom-style: solid;
  --mixin-liOrGJqYanYl_border-bottom-width: 1px;
  --mixin-liOrGJqYanYl_border-left-color: #dddddd;
  --mixin-liOrGJqYanYl_border-left-style: solid;
  --mixin-liOrGJqYanYl_border-left-width: 1px;
  --mixin-liOrGJqYanYl_border-right-color: #dddddd;
  --mixin-liOrGJqYanYl_border-right-style: solid;
  --mixin-liOrGJqYanYl_border-right-width: 1px;
  --mixin-liOrGJqYanYl_border-top-color: #dddddd;
  --mixin-liOrGJqYanYl_border-top-style: solid;
  --mixin-liOrGJqYanYl_border-top-width: 1px;
  --mixin-liOrGJqYanYl_border-bottom-left-radius: 3px;
  --mixin-liOrGJqYanYl_border-bottom-right-radius: 3px;
  --mixin-liOrGJqYanYl_border-top-left-radius: 3px;
  --mixin-liOrGJqYanYl_border-top-right-radius: 3px;
  --mixin-liOrGJqYanYl_font-family: "Inconsolata";
  --mixin-liOrGJqYanYl_padding-bottom: 1px;
  --mixin-liOrGJqYanYl_padding-left: 4px;
  --mixin-liOrGJqYanYl_padding-right: 4px;
  --mixin-liOrGJqYanYl_padding-top: 1px;
  --mixin-liOrGJqYanYl_white-space: pre-wrap;
  --mixin-5TLaMoP2SF1O_border-left-color: #dddddd;
  --mixin-5TLaMoP2SF1O_border-left-style: solid;
  --mixin-5TLaMoP2SF1O_border-left-width: 3px;
  --mixin-5TLaMoP2SF1O_color: #888888;
  --mixin-5TLaMoP2SF1O_padding-left: 10px;
  --mixin-5TLaMoP2SF1O_white-space: pre-wrap;
  --mixin-_VqV68xkYNN8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-_VqV68xkYNN8_border-bottom-color: #dddddd;
  --mixin-_VqV68xkYNN8_border-bottom-style: solid;
  --mixin-_VqV68xkYNN8_border-bottom-width: 1px;
  --mixin-_VqV68xkYNN8_border-left-color: #dddddd;
  --mixin-_VqV68xkYNN8_border-left-style: solid;
  --mixin-_VqV68xkYNN8_border-left-width: 1px;
  --mixin-_VqV68xkYNN8_border-right-color: #dddddd;
  --mixin-_VqV68xkYNN8_border-right-style: solid;
  --mixin-_VqV68xkYNN8_border-right-width: 1px;
  --mixin-_VqV68xkYNN8_border-top-color: #dddddd;
  --mixin-_VqV68xkYNN8_border-top-style: solid;
  --mixin-_VqV68xkYNN8_border-top-width: 1px;
  --mixin-_VqV68xkYNN8_border-bottom-left-radius: 3px;
  --mixin-_VqV68xkYNN8_border-bottom-right-radius: 3px;
  --mixin-_VqV68xkYNN8_border-top-left-radius: 3px;
  --mixin-_VqV68xkYNN8_border-top-right-radius: 3px;
  --mixin-_VqV68xkYNN8_font-family: "Inconsolata";
  --mixin-_VqV68xkYNN8_padding-bottom: 3px;
  --mixin-_VqV68xkYNN8_padding-left: 6px;
  --mixin-_VqV68xkYNN8_padding-right: 6px;
  --mixin-_VqV68xkYNN8_padding-top: 3px;
  --mixin-_VqV68xkYNN8_white-space: pre-wrap;
  --mixin-y2lYQCxqkehE_display: flex;
  --mixin-y2lYQCxqkehE_flex-direction: column;
  --mixin-y2lYQCxqkehE_align-items: stretch;
  --mixin-y2lYQCxqkehE_justify-content: flex-start;
  --mixin-y2lYQCxqkehE_list-style-position: outside;
  --mixin-y2lYQCxqkehE_padding-left: 40px;
  --mixin-y2lYQCxqkehE_position: relative;
  --mixin-y2lYQCxqkehE_list-style-type: disc;
  --mixin-y2lYQCxqkehE_white-space: pre-wrap;
  --mixin-qn8CJK5x2BYW_display: flex;
  --mixin-qn8CJK5x2BYW_flex-direction: column;
  --mixin-qn8CJK5x2BYW_align-items: stretch;
  --mixin-qn8CJK5x2BYW_justify-content: flex-start;
  --mixin-qn8CJK5x2BYW_list-style-position: outside;
  --mixin-qn8CJK5x2BYW_padding-left: 40px;
  --mixin-qn8CJK5x2BYW_position: relative;
  --mixin-qn8CJK5x2BYW_list-style-type: decimal;
  --mixin-qn8CJK5x2BYW_white-space: pre-wrap;
  --mixin-qC85t0BrVFlr_color: #000000;
  --mixin-qC85t0BrVFlr_font-size: 20px;
  --mixin-qC85t0BrVFlr_font-weight: 600;
  --mixin-qC85t0BrVFlr_line-height: 1.5;
  --mixin-qC85t0BrVFlr_white-space: pre-wrap;
  --mixin-JYSkJuYzh98C_color: #000000;
  --mixin-JYSkJuYzh98C_font-size: 16px;
  --mixin-JYSkJuYzh98C_font-weight: 600;
  --mixin-JYSkJuYzh98C_line-height: 1.5;
  --mixin-JYSkJuYzh98C_white-space: pre-wrap;
  --mixin-trhiQ1p1h4Wi_color: #3291ff;
  --mixin-trhiQ1p1h4Wi_white-space: pre-wrap;
  --mixin-JgnKZvl9Ht2B_white-space: pre-wrap;
  --mixin-VEXMcTzzLD4H_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-8lZgIbLuDK-J_font-family);
  font-size: var(--mixin-8lZgIbLuDK-J_font-size);
  font-weight: var(--mixin-8lZgIbLuDK-J_font-weight);
  font-style: var(--mixin-8lZgIbLuDK-J_font-style);
  color: var(--mixin-8lZgIbLuDK-J_color);
  text-align: var(--mixin-8lZgIbLuDK-J_text-align);
  text-transform: var(--mixin-8lZgIbLuDK-J_text-transform);
  line-height: var(--mixin-8lZgIbLuDK-J_line-height);
  letter-spacing: var(--mixin-8lZgIbLuDK-J_letter-spacing);
  white-space: var(--mixin-8lZgIbLuDK-J_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-503Rypp5pKtE_color);
  font-weight: var(--mixin-503Rypp5pKtE_font-weight);
  font-size: var(--mixin-503Rypp5pKtE_font-size);
  line-height: var(--mixin-503Rypp5pKtE_line-height);
  letter-spacing: var(--mixin-503Rypp5pKtE_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-q1uyInfuItRf_color);
  font-size: var(--mixin-q1uyInfuItRf_font-size);
  font-weight: var(--mixin-q1uyInfuItRf_font-weight);
  letter-spacing: var(--mixin-q1uyInfuItRf_letter-spacing);
  line-height: var(--mixin-q1uyInfuItRf_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-PYAdYIz0136p_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-6xenmh_3XAIl_color);
  font-size: var(--mixin-6xenmh_3XAIl_font-size);
  font-weight: var(--mixin-6xenmh_3XAIl_font-weight);
  line-height: var(--mixin-6xenmh_3XAIl_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-hpU-LhBnB5v6_color);
  font-size: var(--mixin-hpU-LhBnB5v6_font-size);
  font-weight: var(--mixin-hpU-LhBnB5v6_font-weight);
  line-height: var(--mixin-hpU-LhBnB5v6_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-liOrGJqYanYl_font-family);
  border-radius: var(--mixin-liOrGJqYanYl_border-top-left-radius)
    var(--mixin-liOrGJqYanYl_border-top-right-radius)
    var(--mixin-liOrGJqYanYl_border-bottom-right-radius)
    var(--mixin-liOrGJqYanYl_border-bottom-left-radius);
  padding: var(--mixin-liOrGJqYanYl_padding-top)
    var(--mixin-liOrGJqYanYl_padding-right)
    var(--mixin-liOrGJqYanYl_padding-bottom)
    var(--mixin-liOrGJqYanYl_padding-left);
  border-top: var(--mixin-liOrGJqYanYl_border-top-width)
    var(--mixin-liOrGJqYanYl_border-top-style)
    var(--mixin-liOrGJqYanYl_border-top-color);
  border-right: var(--mixin-liOrGJqYanYl_border-right-width)
    var(--mixin-liOrGJqYanYl_border-right-style)
    var(--mixin-liOrGJqYanYl_border-right-color);
  border-bottom: var(--mixin-liOrGJqYanYl_border-bottom-width)
    var(--mixin-liOrGJqYanYl_border-bottom-style)
    var(--mixin-liOrGJqYanYl_border-bottom-color);
  border-left: var(--mixin-liOrGJqYanYl_border-left-width)
    var(--mixin-liOrGJqYanYl_border-left-style)
    var(--mixin-liOrGJqYanYl_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-5TLaMoP2SF1O_color);
  padding-left: var(--mixin-5TLaMoP2SF1O_padding-left);
  border-left: var(--mixin-5TLaMoP2SF1O_border-left-width)
    var(--mixin-5TLaMoP2SF1O_border-left-style)
    var(--mixin-5TLaMoP2SF1O_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-_VqV68xkYNN8_font-family);
  border-radius: var(--mixin-_VqV68xkYNN8_border-top-left-radius)
    var(--mixin-_VqV68xkYNN8_border-top-right-radius)
    var(--mixin-_VqV68xkYNN8_border-bottom-right-radius)
    var(--mixin-_VqV68xkYNN8_border-bottom-left-radius);
  padding: var(--mixin-_VqV68xkYNN8_padding-top)
    var(--mixin-_VqV68xkYNN8_padding-right)
    var(--mixin-_VqV68xkYNN8_padding-bottom)
    var(--mixin-_VqV68xkYNN8_padding-left);
  border-top: var(--mixin-_VqV68xkYNN8_border-top-width)
    var(--mixin-_VqV68xkYNN8_border-top-style)
    var(--mixin-_VqV68xkYNN8_border-top-color);
  border-right: var(--mixin-_VqV68xkYNN8_border-right-width)
    var(--mixin-_VqV68xkYNN8_border-right-style)
    var(--mixin-_VqV68xkYNN8_border-right-color);
  border-bottom: var(--mixin-_VqV68xkYNN8_border-bottom-width)
    var(--mixin-_VqV68xkYNN8_border-bottom-style)
    var(--mixin-_VqV68xkYNN8_border-bottom-color);
  border-left: var(--mixin-_VqV68xkYNN8_border-left-width)
    var(--mixin-_VqV68xkYNN8_border-left-style)
    var(--mixin-_VqV68xkYNN8_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-y2lYQCxqkehE_display);
  flex-direction: var(--mixin-y2lYQCxqkehE_flex-direction);
  align-items: var(--mixin-y2lYQCxqkehE_align-items);
  justify-content: var(--mixin-y2lYQCxqkehE_justify-content);
  list-style-position: var(--mixin-y2lYQCxqkehE_list-style-position);
  padding-left: var(--mixin-y2lYQCxqkehE_padding-left);
  position: var(--mixin-y2lYQCxqkehE_position);
  list-style-type: var(--mixin-y2lYQCxqkehE_list-style-type);
  flex-column-gap: var(--mixin-y2lYQCxqkehE_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-qn8CJK5x2BYW_display);
  flex-direction: var(--mixin-qn8CJK5x2BYW_flex-direction);
  align-items: var(--mixin-qn8CJK5x2BYW_align-items);
  justify-content: var(--mixin-qn8CJK5x2BYW_justify-content);
  list-style-position: var(--mixin-qn8CJK5x2BYW_list-style-position);
  padding-left: var(--mixin-qn8CJK5x2BYW_padding-left);
  position: var(--mixin-qn8CJK5x2BYW_position);
  list-style-type: var(--mixin-qn8CJK5x2BYW_list-style-type);
  flex-column-gap: var(--mixin-qn8CJK5x2BYW_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-qC85t0BrVFlr_color);
  font-size: var(--mixin-qC85t0BrVFlr_font-size);
  font-weight: var(--mixin-qC85t0BrVFlr_font-weight);
  line-height: var(--mixin-qC85t0BrVFlr_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-JYSkJuYzh98C_color);
  font-size: var(--mixin-JYSkJuYzh98C_font-size);
  font-weight: var(--mixin-JYSkJuYzh98C_font-weight);
  line-height: var(--mixin-JYSkJuYzh98C_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-trhiQ1p1h4Wi_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
